h1 {
  color: lightcoral;
  font-size: 30pt;
  text-align: center;
  background-color: lightblue;
}
h2 {
  color: midnightblue;
  
}

h3 {
  color: maroon;
  text-align: center;
  background-color:darkslategrey ;
  font-size:20px;
}

p {
  color
}